Django
django-extensions
django-scheduler
django-bower
django-registration
django-guardian
Pillow
requests
django-rest-framework
gensim
ipython
wiki
git+https://github.com/hltcoe/turkle.git@admin_app_configurable
rdflib
django-editor-widgets
graphviz
