{% extends "base.html" %}

{% block content %}



{% if can_create and "add" in model_perms %}
<div class="container w-75">
  {% include "cdh/snippets/modal.html" with mode="creation" uid=uid url=model.create_url csrf_token=csrf_token title="Creating new object" %}
</div>
{% endif %}


<div class="accordion cdh-accordion"
     id="accordion-{{uid}}"
     {% if model_name %}model_name="{{model_name}}"{% endif %}
     {% if app_label %}app_label="{{app_label}}"{% endif %}
     {% if pk %}pk="{{pk}}"{% endif %}     
     accordion_url="{{accordion_url}}">
  {% if items|length == 0 %}
  <div class="w-75">
    <p>
      Nothing to display: logged-in users may be able to create new instances using the add button on the right side of the screen.
    </p>
  </div>
  {% else %}


  {% for item in items %}
  {% include "cdh/snippets/accordion_item.html" with title=item.title url=item.url detail_url=item.detail_url edit_url=item.edit_url create_url=item.create_url object=item.object index=forloop.counter app_label=item.app_label model_name=item.model_name pk=item.object.id uid=uid can_create=item.can_create can_delete=item.can_delete can_edit=item.can_edit can_manage_permissions=item.can_manage_permissions model=item.model %}
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
