<div
  class="accordion-item cdh-accordion-item"
  {% if create_url %}create="true"{% endif %}  
  id="accordionitem-{{uid}}_{{index}}"
  model_name="{{model_name}}"
  app_label="{{app_label}}"
  pk="{{pk}}">
  <div
    class="accordion-header cdh-accordion-header"
    id="header-{{uid}}_{{index}}">
    <button
      class="accordion-button cdh-accordion-button collapsed"
      data-bs-toggle="collapse"
      type="button"
      aria-expanded="false"
      data-bs-target="#content-{{uid}}_{{index}}"
      id="button-{{uid}}_{{index}}"
      aria-controls="content-{{uid}}_{{index}}">
      {% if create_url %}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
	<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
	<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
      {% else %}
      {{title}}
      {% endif %}
    </button>
  </div>
  <div
    class="accordion-collapse cdh-accordion-collapse collapse w-95 ps-4"
    id="content-{{uid}}_{{index}}"
    aria-labelledby="header-{{uid}}_{{index}}"
    {% if index == 0 %}hx-get="{% url create_url %}" hx-trigger="refreshForm" hx-select="#top_level_content > *" hx-swap="innerHTML"{% endif %}
    data-bs-parent="#accordion-{{uid}}">
    <div id="accordionitemcontent-{{uid}}_{{index}}"
	 hx-get="{% if create_url %}{% url create_url %}{% elif url and instance %}{% url url instance.id %}{% elif url %}{% url url %}{% else %}{{content}}{% endif %}"
	 hx-vals='{"uid" : "{{uid}}_{{index}}" {% if relation %}, "relation" : "{{relation}}", "pk" : "{{pk}}"{% endif %} }'
	 hx-trigger="show.bs.collapse from:#content-{{uid}}_{{index}}, intersect"
	 hx-select="#top_level_content > *"
	 hx-swap="outerHTML">
    </div>
  </div>
</div>
