{% load sekizai_tags static %}

<div
  class="accordion-item cdh-accordion-item"
  {% if create_url %}create="true"{% endif %}  
  id="accordionitem-{{uid}}_{{index}}"
  {% if model_name %}model_name="{{model_name}}"{% endif %}
  {% if app_label %}app_label="{{app_label}}"{% endif %}
  {% if pk %}pk="{{pk}}"{% endif %}       model_name="{{model_name}}"
  >
  <div
    class="accordion-header cdh-accordion-header w-100"
    id="header-{{uid}}_{{index}}"
    >

    <!-- start modals -->
    <div
      class="btn-group w-100"
      role="group"
      aria-label="actions"
      >


      <button
	class="accordion-button cdh-accordion-button collapsed w-75"
	data-bs-toggle="collapse"
	type="button"
	aria-expanded="false"
	data-bs-target="#content-{{uid}}_{{index}}"
	id="button-{{uid}}_{{index}}"
	aria-controls="content-{{uid}}_{{index}}"
	>
	{{title}}     
      </button>
      
      {% if can_create %}
      {% include "cdh/snippets/modal.html" with mode="creation" uid=uid index=index url=model.create_url csrf_token=csrf_token %}
      {% endif %}

      {% if can_manage_permission %}
      {% include "cdh/snippets/modal.html" with mode="permissions" uid=uid index=index csrf_token=csrf_token app_label=app_label model_name=model_name pk=pk %}
      {% endif %}

      {% if can_delete %}
      {% include "cdh/snippets/modal.html" with mode="deletion" uid=uid index=index url=object.delete_url csrf_token=csrf_token app_label=app_label model_name=model_name pk=pk %}
      {% endif %}

      {% comment %}
      {% if can_edit %}
      <button
	class="btn"
	type="button"
	onclick="document.getElementById('container-present-{{uid}}_{{index}}').classList.toggle('invisible');document.getElementById('container-edit-{{uid}}_{{index}}').classList.toggle('invisible');"
	data-bs-target="#container-{{uid}}_{{index}}"
	data-bs-toggle="invisible"
	>
	  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-pencil-square"
    viewBox="0 0 16 16"
    >
    <path
      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
      />
    <path
      fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
      />
  </svg>  
      </button>

      {% include "cdh/snippets/modal.html" with mode="editing" uid=uid index=index url=object.edit_url csrf_token=csrf_token app_label=app_label model_name=model_name pk=pk %}

      {% endif %}
      {% endcomment %}
    </div>
  </div>
  <div
    class="accordion-collapse cdh-accordion-collapse collapse w-95 ps-4"
    id="content-{{uid}}_{{index}}"
    aria-labelledby="header-{{uid}}_{{index}}"
    data-bs-parent="#accordion-{{uid}}_{{index}}"
    >
    <div
      id="accordionitemcontent-{{uid}}_{{index}}"
      hx-get="{{url}}"
      hx-vals='{"uid" : "{{uid}}_{{index}}" {% if relation %}, "relation" : "{{relation}}", "pk" : "{{pk}}"{% endif %} }'
      hx-headers='{"uid" : "{{uid}}_{{index}}", "style" : "accordion"}'
      hx-trigger="show.bs.collapse from:#content-{{uid}}_{{index}}, intersect"
      hx-select="#top_level_content > *"
      hx-swap="outerHTML"
      >
    </div>

    
    



  </div>
</div>
