{% extends "base.html" %}

{% block content %}


{% comment %}
{% if user_permissions_options or group_permissions_options %}

<div class="accordion"
     id="permissions-accordion-{{uid}}"
     {% if model_name %}model_name="{{model_name}}"{% endif %}
     {% if app_label %}app_label="{{app_label}}"{% endif %}
     pk="{{pk}}">
  <div
    class="accordion-header"
    id="permissions-header-{{uid}}">
    <button
      class="accordion-button collapsed"
      data-bs-toggle="collapse"
      type="button"
      aria-expanded="false"
      data-bs-target="#permissions-content-{{uid}}"
      id="permissions-button-{{uid}}"
      aria-controls="permissions-content-{{uid}}">
      Manage permissions
    </button>
  </div>

  <div
    class="accordion-collapse collapse w-95 ps-4"
    id="permissions-content-{{uid}}"
    aria-labelledby="permissions-header-{{uid}}"
    data-bs-parent="#permissions-accordion-{{uid}}">
    <div id="permissions-accordionitemcontent-{{uid}}">
{% endcomment %}

  {% if user_permissions_options %}
  <h4>User permissions</h4>
  <div class="row">
    {% for perm in perms %}
    <div class="col w-25">
      <label for="{{perm}}_user_perm_select-{{uid}}">{{perm|title}}</label>
      <select class="form-select" multiple aria-label="{{perm}}_user_permissions" id="{{perm}}_user_perm_select-{{uid}}" name="user_{{perm}}">
	{% for u, p in user_permissions_options %}
	<option value="{{u.id}}" {% if perm in p %}selected{% endif %}>{{u}}</option>
	{% endfor %}
      </select>
    </div>
    {% endfor %}    
  </div>
  {% endif %}
  
  {% if group_permissions_options %}
  <h4>Group permissions</h4>
  <div class="row">
    {% for perm in perms %}
    <div class="col w-25">
      <label for="{{perm}}_group_perm_select-{{uid}}">{{perm|title}}</label>
      <select class="form-select" multiple aria-label="{{perm}}_group_permissions" id="{{perm}}_group_perm_select" name="group_{{perm}}">
	{% for g, p in group_permissions_options %}
	<option value="{{g.id}}" {% if perm in p %}selected{% endif %}>{{g}}</option>
	{% endfor %}
      </select>
    </div>
    {% endfor %}
  </div>
  {% endif %}
{% comment %}
    </div>
    <button
      class="btn btn-primary"
      hx-post="{{request.path_info}}"
      hx-swap="outerHTML"
      hx-vals='{"uid" : "{{uid}}_{{index}}"}'
      hx-select="#top_level_content > *"
      hx-target="#permissions-form-{{uid}}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      id="permissions-button-{{uid}}">
      Update permissions
    </button>

  </div>
  
</div>

{% endif %}
{% endcomment %}


{% endblock %}
