{% extends "base.html" %}

{% block content %}

<div
  id="tabs-{{uid}}"
  {% if model_name %}model_name="{{model_name}}"{% endif %}
  {% if app_label %}app_label="{{app_label}}"{% endif %}
  {% if pk %}pk="{{pk}}"{% endif %}     
  >
  <ul class="nav nav-tabs cdh-nav-tabs" id="controls-{{uid}}" role="tablist">
    {% for tab in tabs %}
    {% include "cdh/snippets/tab_control.html" with title=tab.title index=forloop.counter %}
    {% endfor %}
  </ul>
  <div class="tab-content" id="contents-{{uid}}">
    {% for tab in tabs %}    
    {% include "cdh/snippets/tab_content.html" with url=tab.url index=forloop.counter instance=instance model_name=model_name pk=instance.id app_label=app_label %}
    {% endfor %}
  </div>
</div>

{% endblock %}
