{% load sekizai_tags static %}

<!doctype html>
<html lang="en" >
  <head>

    {% addtoblock "css" %}
    <link rel='stylesheet' id='bootstrap-css'  href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" type='text/css' />
    <link rel='stylesheet' id='main-stylesheet-css'  href="{% static 'cdh/css/cdh.css' %}" type='text/css' media='all' />
    {% endaddtoblock %}
    
    {% render_block "css" %}
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="date" content="April 16, 2022" />        

    <link rel="icon" href="{% static 'cdh/img/favicon.png' %}">

    {% addtoblock "initial_js" %}
	  <script src="https://vega.github.io/vega/vega.min.js"></script>
    <script type='text/javascript' src="{% static 'modernizr/modernizr.js' %}" id='theme-modernizr-js'></script>
    <script type='text/javascript' src="{% static 'jquery/dist/jquery.min.js' %}" id='jquery-core-js'></script>
    <script type='text/javascript' src="{% static 'jquery.cookie/jquery.cookie.js' %}" id='theme-cookie-js'></script>
    <script type='text/javascript' src="{% static 'jquery.scrollTo/jquery.scrollTo.js' %}" id='theme-scrollto-js'></script>
    {% endaddtoblock %}
    
    {% render_block "initial_js" %}    
    <title>Center for Digital Humanities | Johns Hopkins University</title>
    <meta name='robots' content='max-image-preview:large' />
    <meta property="og:title" content="Home | CDH"/>
    <meta property="og:description" content="The Johns Hopkins University Center for Digital Humanities"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://cdh.jhu.edu/"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@comp_hum" />
    <meta property="og:site_name" content="Center for Digital Humanities"/>
    <meta name="facebook-domain-verification" content="s1lj448peh4wqw24bgcc5f2t6n23tc" />

    {% block extra_head %}
    {{ block.super }}
    {% endblock %}
  </head>

  <body>
    
      <header class="site-header" role="banner" aria-labelledby="dept-info">

	<!-- <div class="site-title-bar title-bar" > -->
	<!--   <div class="title-bar-left"> -->
	<!--     <button aria-label="Main Menu" class="menu-icon" type="button" data-toggle="off-canvas-menu"></button> -->
	<!--     <span class="site-mobile-title title-bar-title"> -->
	<!--       Main Menu -->
	<!--     </span> -->
	<!--   </div> -->
	<!-- </div> -->
	
	<div class="roof-header-top hide-for-print">
	  <div class="row align-justify">
	    <div class="roof-header-top-links">
	      <ul class="menu simple roof-menu align-right">
		{% if request.user.is_authenticated %}
		{% if is_admin %}
		<li>
		  <a href="/admin">Admin</a>
		</li>
		{% endif %}
		<li>
		  <a href="/accounts/logout">Log out</a>
		</li>
		{% else %}
		<li>
		  <a href="/accounts/login">Log in</a>
		</li>
		{% endif %}		
	      </ul>
	    </div>
	  </div>
	</div>

	<div class="small-site-holder">
	  <div class="site-information hide-for-print">
	    <div class="nav-shield">
	      <a href="https://jhu.edu/" rel="home">
		<div class="white">
		  <img width="300" height="87" src="{% static 'cdh/img/jhu-logo.svg' %}" alt="JHU Shield">-
		</div>
	      </a>
	    </div>
	    <div class="site-desktop-title">
	      <div class="top-bar-title">
		<h1>
		  <a id="index-link" href="/">
		    Center for Digital Humanities
		  </a>
		</h1>
	      </div>
	    </div>
	  </div>
	</div>


	<nav class="top-bar main-navigation navbar-toggler" aria-label="Main Menu" style="z-index:10">
	  <div class="top-bar-left" style="z-index:10">
	    <ul id="menu-main-menu-1" class="dropdown menu" data-dropdown-menu aria-label="Primary Navigation">
	      <li class="menu-item">
		<a href="/people">
		  People
		</a>
	      </li>
	      <li class="menu-item">
		<a href="/research">
		  Research
		</a>
	      </li>
	      <li class="menu-item">
		<a href="/calendar">
		  Calendar
		</a>
	      </li>
	      {% for k, v in public_apps.items %}
	      <li><a href="/{{k}}/">{{v}}</a></li>
	      {% endfor %}	      
	      {% if request.user.is_authenticated %}
	      {% for k, v in private_apps.items %}
	      <li><a href="/{{k}}/">{{v}}</a></li>
	      {% endfor %}
	      {% endif %}
	    </ul>
	  </div>
	</nav>
	
      </header>

      <!-- <nav class="mobile-off-canvas-menu off-canvas position-left" id="off-canvas-menu" data-off-canvas data-auto-focus="false" aria-label="Mobile Menu"> -->

      <!-- 	<ul class="vertical nested menu"> -->
      <!-- 	  <div class="top-bar-left" style="z-index:10"> -->
      <!-- 	    <ul id="menu-main-menu" class="vertical menu" data-accordion-menu data-submenu-toggle="true" aria-label="Mobile Navigation"> -->
      <!-- 	      <\!--<li class="menu-item"> -->
      <!-- 		  <a href="/about"> -->
      <!-- 		    About -->
      <!-- 		  </a> -->
      <!-- 	      </li>-\-> -->
      <!-- 	      <li class="menu-item"> -->
      <!-- 		<a href="/people"> -->
      <!-- 		  People -->
      <!-- 		</a> -->
      <!-- 	      </li> -->
      <!-- 	      <li class="menu-item"> -->
      <!-- 		<a href="/research"> -->
      <!-- 		  Research -->
      <!-- 		</a> -->
      <!-- 	      </li> -->
      <!-- 	      <li class="menu-item"> -->
      <!-- 		<a href="/events"> -->
      <!-- 		  Events -->
      <!-- 		</a> -->
      <!-- 	      </li> -->
      <!-- 	      {% for k, v in public_apps.items %} -->
      <!-- 	      <li><a href="/{{k}}/">{{v}}</a></li> -->
      <!-- 	      {% endfor %}	       -->
      <!-- 	      {% if request.user.is_authenticated %} -->
      <!-- 	      {% for k, v in private_apps.items %} -->
      <!-- 	      <li><a href="/{{k}}/">{{v}}</a></li> -->
      <!-- 	      {% endfor %} -->
      <!-- 	      {% endif %} -->
      <!-- 	    </ul> -->
      <!-- 	  </div> -->
	  
      <!-- </nav> -->


      <div class="container">
	<div class="grid-with-gutters">
	  <div class="row">
	    <div class="span1"></div>
	    <div class="span8">
	      <div class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
	      {% block content %}{% endblock %}
	      {% block body %}{% endblock %}	  
	    </div>
	  </div>
	</div>
      </div>


      {% addtoblock "js" %}
      <script type='text/javascript' src="{% static 'cdh/js/jquery.breakpoints.js' %}" id='theme-breakpoints-js'></script>
      <script type='text/javascript' src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}" id='theme-bootstrap-js'></script>
      {% endaddtoblock %}
      
      {% render_block "js" %}
    
  </body>
</html>
