{% load sekizai_tags static %}

<!doctype html>
<html lang="en" >
  <head>

    {% addtoblock "css" %}
    <link rel='stylesheet' id='bootstrap-css'  href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" type='text/css' />
    <link rel='stylesheet' id='main-stylesheet-css'  href="{% static 'cdh/css/cdh.css' %}" type='text/css' media='all' />

    <link rel='stylesheet' id='main-stylesheet-css'  href="{% static 'monaco/min/vs/editor/editor.main.css' %}" type='text/css' media='all' />    
    {% comment %}
    <link rel="stylesheet" id="monaco_css" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0-dev.20220627/min/vs/editor/editor.main.min.css"/>
    {% endcomment %}
    {% endaddtoblock %}
    
    {% render_block "css" %}
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="date" content="April 16, 2022" />        

    <link rel="icon" href="{% static 'cdh/img/favicon.png' %}">

    {% addtoblock "initial_js" %}
    <script type='text/javascript' src="{% static 'modernizr/modernizr.js' %}" id='theme-modernizr-js'></script>
    <script type='text/javascript' src="{% static 'jquery/dist/jquery.min.js' %}" id='jquery-core-js'></script>
    <script type='text/javascript' src="{% static 'jquery.cookie/jquery.cookie.js' %}" id='theme-cookie-js'></script>
    <script type='text/javascript' src="{% static 'jquery.scrollTo/jquery.scrollTo.js' %}" id='theme-scrollto-js'></script>
    <script type='text/javascript' src="{% static 'vega/docs/vega.min.js' %}" id='vega'></script>
    <script type='text/javascript' src="{% static 'cdh/js/hyperscript.min.js' %}" id="hyperscript"></script>
    <script type='text/javascript' src="{% static 'cdh/js/htmx.min.js' %}" id='htmx'></script>    
    {% endaddtoblock %}
    
    {% render_block "initial_js" %}    
    <title>Center for Digital Humanities | Johns Hopkins University</title>
    <meta name='robots' content='max-image-preview:large' />
    <meta property="og:title" content="Home | CDH"/>
    <meta property="og:description" content="The Johns Hopkins University Center for Digital Humanities"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://cdh.jhu.edu/"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@comp_hum" />
    <meta property="og:site_name" content="Center for Digital Humanities"/>
    <meta name="facebook-domain-verification" content="s1lj448peh4wqw24bgcc5f2t6n23tc" />
    
    {% block extra_head %}
    {{ block.super }}
    {% endblock %}
    {% block extrahead %}
    {{ block.super }}
    {% endblock %}    
    {% block extrastyle %}
    {{ block.super }}
    {% endblock %}
    {% block extra_style %}
    {{ block.super }}
    {% endblock %}
  </head>

  <body>

    
      <header class="site-header" role="banner" aria-labelledby="dept-info">
	
	<div class="roof-header-top hide-for-print">
	  <div class="row align-justify">
	    <div class="roof-header-top-links">
	      <ul class="menu simple roof-menu align-right">
		{% if request.user.is_authenticated %}
		<li>
		  <a href="/accounts/logout">Log out {{request.user.first_name}} {{request.user.last_name}}</a>
		</li>
		{% comment %}
		<li>
		  <a href="{% url 'manage_account' request.user.id %}">Manage account</a>		  
		</li>
		{% endcomment %}
		{% else %}
		<li>
		  <a href="/accounts/login">Log in</a>
		</li>
		{% endif %}
		<li>
		  <a href="/wiki/help">Help</a>
		</li>
	      </ul>
	    </div>
	  </div>
	</div>

	<div class="small-site-holder">
	  <div class="site-information hide-for-print">
	    <div class="nav-shield">
	      <a href="https://jhu.edu/" rel="home">
		<div class="white">
		  <img width="200" height="56" src="{% static 'cdh/img/jhu-logo.svg' %}" alt="JHU Shield">-
		</div>
	      </a>
	    </div>
	    <div class="site-desktop-title">
	      <div class="top-bar-title">
		<h1>
		  <a id="index-link" href="/">
		    <small>Center for</small> Digital Humanities
		  </a>
		</h1>
	      </div>
	    </div>
	  </div>
	</div>

	<nav class="top-bar main-navigation navbar-toggler" aria-label="Main Menu" style="z-index:10">
	<ul class="nav nav-tabs menu">
	  {% for k, v in builtin_pages.items %}
	  <li class="nav-item">
	    <a class="nav-link {% if top_level == k %}active{% endif %}" href="/{{k}}/">
	      {{v}}
	    </a>
	  </li>
	  {% endfor %}
	  

	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle {% if top_level in apps or top_level == 'manage' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	      Interaction{% if top_level in apps or top_level == 'api' %}[{{ interaction_name }}]{% endif %}
	    </a>
	    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	      {% for k, v in apps.items %}
	      <li>
		<a class="dropdown-item {% if top_level == k %}active{% endif %}" href="/{{k}}/">
		  {{v}}
		</a>
	      </li>
	      {% endfor %}
	      {% if request.user.is_authenticated %}
	      <li>
		<a class="dropdown-item {% if top_level == 'api' %}active{% endif %}" href="/api/">
		  API
		</a>
	      </li>
	      {% endif %}
	      {% comment %}
	      {% if is_admin %}
	      <li>
		<hr class="dropdown-divider">
	      <li>
	      <li>
		<a class="dropdown-item {% if top_level == 'manage' %}active{% endif %}" href="/manage">
		  Manage
		</a>
	      </li>
	      {% endif %}
	      {% endcomment %}
	    </ul>
	  </li>

	</ul>
	</nav>
      </header>


      {% block modals %}
      {{ block.super }}
      {% endblock %}
      {% render_block "modals" %}

      
      <div class="container mt-4">
	<div class="grid-with-gutters">
	  <div class="row">
	    {% block breadcrumbs %}
	    {% if breadcrumbs|length > 0 %}	    
	    <nav aria-label="breadcrumb">
	      <ol class="breadcrumb">
		{% for name, path, args in breadcrumbs %}
		{% if forloop.last %}
		<li class="breadcrumb-item"><b>{{name}}</b></li>
		{% else %}
		{% if args %}
		<li class="breadcrumb-item"><a href="{% url path args %}">{{name}}</a></li>
		{% else %}
		<li class="breadcrumb-item"><a href="{% url path %}">{{name}}</a></li>
		{% endif %}
		{% endif %}
		{% endfor %}
	      </ol>
	    </nav>
	    {% endif %}
	    {% endblock %}
	    {% if messages %}
	    <ul class="messages">
	      {% for message in messages %}
	      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	      {% endfor %}
	    </ul>
	    {% endif %}
	    <div id="top_level_content" class="container">
	      {% block content %}{% endblock %}
	      {% block body %}{% endblock %}
	    </div>
	  </div>
	</div>
      </div>

      {% block js %}{{block.super}}{% endblock %}
      {% addtoblock "js" %}
      <script type='text/javascript' src="{% static 'cdh/js/jquery.breakpoints.js' %}" id='theme-breakpoints-js'></script>
      <script type='text/javascript' src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}" id='theme-bootstrap-js'></script>
      {% comment %}
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0-dev.20220625/min/vs/loader.min.js"></script>            {% endcomment %}
      <script type='text/javascript' src="{% static 'monaco/min/vs/loader.js' %}" id='monaco-js'></script>

      <script type='text/javascript' src="{% static 'cdh/js/cdh.js' %}" id='cdh-js'></script>

      {% endaddtoblock %}
      
      {% render_block "js" %}

      {% block finaljs %}{{block.super}}{% endblock %}

      {% render_block "finaljs" %}

      <script>
	cdhSetup(document.body, false);
	//window.onbeforeunload = saveState;
	
	htmx.on("htmx:load", function(evt) {
	    cdhSetup(evt.detail.elt, true);
	    //evt.target.scrollIntoView(true);

	});
	document.body.addEventListener("cdhEvent", handleCdhEvent);
	
	// window.addEventListener("load", (event) => {
	//     var pathName = document.location.pathname;
	//     if (sessionStorage["scrollPosition_" + pathName]) {
	// 		    console.error("test");

	// 	$(document).scrollTop(sessionStorage.getItem("scrollPosition_" + pathName));
	//     }
	// });

      </script>
  </body>
</html>
