{% load sekizai_tags static %}
{% load guardian_tags %}


<div
  class="accordion-item cdh-accordion-item"
  id="accordionitem-{{uid}}_{{index}}"
  >
  <div
    class="accordion-header cdh-accordion-header w-100"
    id="header-{{uid}}_{{index}}"
    >

    <!-- start modals -->
    <div
      class="btn-group w-100"
      role="group"
      aria-label="actions"
      >


      <button
	class="accordion-button cdh-accordion-button collapsed w-75"
	data-bs-toggle="collapse"
	type="button"
	aria-expanded="false"
	data-bs-target="#content-{{uid}}_{{index}}"
	id="button-{{uid}}_{{index}}"
	aria-controls="content-{{uid}}_{{index}}"
	>
	{{item.title}}
      </button>
      
      {% if item.get_add_perm in model_perms %}
      {% include "cdh/modal.html" with mode="creation" uid=uid index=index csrf_token=csrf_token item=item create_serializer=create_serializer %}
      {% endif %}
     
      {% if item.get_delete_perm in obj_perms %}
      {% include "cdh/modal.html" with mode="permissions" uid=uid index=index csrf_token=csrf_token item=item %}
      {% endif %}

      {% if item.get_delete_perm in obj_perms %}
      {% include "cdh/modal.html" with mode="deletion" uid=uid index=index csrf_token=csrf_token item=item %}
      {% endif %}

    </div>
  </div>
  <div
    class="accordion-collapse cdh-accordion-collapse collapse w-95 ps-4"
    id="content-{{uid}}_{{index}}"
    aria-labelledby="header-{{uid}}_{{index}}"
    data-bs-parent="#accordion-{{uid}}_{{index}}"
    >
    <div
      id="accordionitemcontent-{{uid}}_{{index}}"
      hx-get="{% url item.name %}"
      hx-vals='{"uid" : "{{uid}}_{{index}}" {% if relation %}, "relation" : "{{relation}}", "pk" : "{{pk}}"{% endif %} }'
      hx-headers='{"uid" : "{{uid}}_{{index}}", "style" : "accordion", "Accept" : "text/html include=true"}'
      hx-trigger="show.bs.collapse from:#content-{{uid}}_{{index}}, intersect"
      hx-select="#top_level_content > *"
      hx-swap="outerHTML"
      >
    </div>
  </div>
</div>
