{% extends "base.html" %}

{% block content %}

<div
  model_name="{{model_name}}"
  app_label="{{app_label}}"
  pk="{{pk}}"
  id="container-{{uid}}">

{% if form or buttons %}
<form
  {% comment %}
  method="post"
  action="{{request.path_info}}"
  {% endcomment %}
  hx-post="{{request.path_info}}"
  id="form-{{uid}}"
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}", "uid" : "{{uid}}"}'
  {% if form.is_multipart %}
  hx-encoding="multipart/form-data"
  enctype="multipart/form-data"
  {% endif %}
  >
{% endif %}

{% if preamble %}
<div class="container w-75">
  {{preamble.value}}
</div>
{% endif %}

{% if buttons and top_buttons %}
<div class="btn-group" role="group" aria-label="actions">
  {% for button in buttons %}
  <button class="btn btn-{{button.style}}"
	  {% if button.hx_post %}hx-post="{{button.hx_post}}"{% endif %}
	  {% if button.hx_delete %}hx-delete="{{button.hx_delete}}"{% endif %}	    
	  {% if button.hx_confirm %}hx-confirm='{{button.hx_confirm}}'{% endif %}
	  {% if button.hx_target %}hx-target='{{button.hx_target}}'{% endif %}
	  {% if button.hx_select %}hx-select='{{button.hx_select}}'{% endif %}
	  {% if button.hx_swap %}hx-swap='{{button.hx_swap}}'{% endif %}
	  hx-headers='{"X-CSRFToken": "{{ csrf_token }}", "uid" : "{{uid}}"}'
	  >
    {{button.label}}
  </button>
  {% endfor %}
</div>
{% endif %}

{{content}}
{{form}}

{% if buttons and not top_buttons %}

<div class="btn-group" role="group" aria-label="actions">
  {% for button in buttons %}
  <button class="btn btn-{{button.style}}"
	  {% if button.hx_post %}hx-post="{{button.hx_post}}"{% endif %}
	  {% if button.hx_delete %}hx-delete="{{button.hx_delete}}"{% endif %}
	  {% if button.hx_confirm %}hx-confirm='{{button.hx_confirm}}'{% endif %}
	  {% if button.hx_target %}hx-target='{{button.hx_target}}'{% endif %}
	  {% if button.hx_select %}hx-select='{{button.hx_select}}'{% endif %}
	  {% if button.hx_swap %}hx-swap='{{button.hx_swap}}'{% endif %}
	  {% comment %}
	  hx-vals='{"uid" : "{{uid}}"}'
	  {% endcomment %}
	  hx-headers='{"X-CSRFToken": "{{ csrf_token }}", "uid" : "{{uid}}"}'
	  >
    {{button.label}}
  </button>
  {% endfor %}
</div>
{% endif %}

{% if form or buttons %}
</form>
{% endif %}

</div>

</div>

{% endblock %}
