{% extends "base.html" %}

{% block content %}

{% if include %}

<div
  hx-get="{% url include %}"
  hx-trigger="intersect"
  hx-swap="outerHTML"
  hx-select="#top_level_content > *"
  hx-headers='{"Accept" : "text/html include=true", "style" : "{{style}}", "image_field" : "test", "content_field" : "{{content_field}}"}'
  >
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

{% elif includes %}

{% for include in includes %}

{% endfor %}

{% endif %}

{% endblock %}
