{% load i18n %}

<div field_name="{{widget.name}}"
     value_id="{{widget.value_id}}"
     {% if widget.output_id %}
     output_id="{{widget.output_id}}"
     {% endif %}
     class="{% if widget.class %}{{widget.class}}{% else %}cdh-editor{% endif %}"
     {% include "django/forms/widgets/attrs.html" %}
     style="width: 800px; height: 200px; border: 1px solid grey">
</div>

{{ widget.list_value|json_script:widget.value_id }}
<input type="hidden"
       name="{{widget.name}}"
       {% if widget.output_id %}
       hx-post=""
       hx-trigger="space delay:2500ms"
       hx-target="#{{widget.output_id}}"
       hx-swap="innerHTML"
       hx-select="#top_level_content"
       {% endif %}
       id="{{widget.name}}-hidden"
       value="{{widget.value}}"/>
{{ widget.hidden.attrs }}

{% if widget.output_id %}
<div id="{{widget.output_id}}" class="container">
</div>
{% endif %}
