{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="accordion" id="people">
  {% for category, people in categories.items %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{forloop.counter}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}">
      {{category}}
      </button>
    </h2>
    <div id="collapse-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading-{{forloop.counter}}">
    {% for person in people %}
    <div class="card">
      {% if person.photo %}
      <img src="{% get_media_prefix %}{{person.photo}}" alt="Picture of {{person.first_name}} {{person.last_name}}" class="card-img-top" />
      {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill card-img-top" viewBox="0 0 16 16">
	<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      {% endif %}
      <div class="card-body">
	<h5 class="card-title">{{person.first_name}} {{person.last_name}}</h5>
	<h6 class="card-subtitle">{{person.title}}</h6>
	<p class="card-text">{{person.description}}</p>
	<a href="{{person.homepage}}" class="btn btn-primary">Homepage</a>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  {% endfor %}
{% endblock %}
