{% extends "base.html" %}

{% block content %}


<form method="post" action="{{request.path_info}}" id="{{form_id}}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      {% if form.is_multipart %}hx-encoding="multipart/form-data" enctype="multipart/form-data"{% endif %}
      >
  {% if preamble %}
  <div class="">
    {{preamble}}
  </div>
  {% endif %}
  {% if buttons and top_buttons %}
  <div class="btn-group" role="group" aria-label="actions">
    {% for button in buttons %}
    <button class="btn btn-{{button.style}}"
	    {% if button.hx_post %}hx-post="{{request.path_info}}"{% endif %}
	    {% if button.hx_delete %}hx-delete="{{request.path_info}}"{% endif %}	    
	    {% if button.hx_confirm %}hx-confirm='{{button.hx_confirm}}'{% endif %}
	    {% if button.hx_target %}hx-target='#{{form_id}}'{% endif %}
	    {% if button.hx_select %}hx-select='{{button.hx_select}}'{% endif %}
	    {% if button.hx_swap %}hx-swap='{{button.hx_swap}}'{% endif %}
	    >
      {{button.label}}
    </button>
    {% endfor %}
  </div>
  {% endif %}

  {% csrf_token %}
  {{form}}
  {% if buttons and not top_buttons %}
  <div class="btn-group" role="group" aria-label="actions">
    {% for button in buttons %}
    <button class="btn btn-{{button.style}}"
	    {% if button.hx_post %}hx-post="{{request.path_info}}"{% endif %}
	    {% if button.hx_delete %}hx-delete="{{request.path_info}}"{% endif %}	    
	    {% if button.hx_confirm %}hx-confirm='{{button.hx_confirm}}'{% endif %}
	    {% if button.hx_target %}hx-target='#{{form_id}}'{% endif %}
	    {% if button.hx_select %}hx-select='{{button.hx_select}}'{% endif %}
	    {% if button.hx_swap %}hx-swap='{{button.hx_swap}}'{% endif %}
	    >
      {{button.label}}
    </button>
    {% endfor %}
  </div>
  {% endif %}

</form>
{% endblock %}
