{% extends "base.html" %}

{% block content %}

<div
  model_name="{{model_name}}"
  app_label="{{app_label}}"
  pk="{{pk}}"
  id="container-{{uid}}">

{% if form or buttons %}
<form method="post" action="{{request.path_info}}" id="form-{{uid}}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      {% if form.is_multipart %}
      hx-encoding="multipart/form-data"
      enctype="multipart/form-data"
      {% endif %}
      >
{% endif %}


{% if preamble and hide_preamble %}
<div class="container w-75">
  <div class="accordion" id="preamble_accordion-{{uid}}">
    <div class="accordion-item" id="preamble_accordionitem-{{uid}}" aria-labeledby="preamble_accordion-{{uid}}">
      <div class="accordion-header" id ="preamble_accordionheader-{{uid}}">
	<div class="d-grid gap-2">
	  <button id="preamble_button-{{uid}}"
		  class="accordion-button cdh-accordion-button collapsed"
		  type="button"
		  data-bs-toggle="collapse"
		  data-bs-target="#preamble_accordioncontent-{{uid}}"
		  aria-expanded="false"
		  aria-controls="preamble_accordioncontent-{{uid}}"
		  >
	    {% if preamble_title %}{{preamble_title}}{% else %}?{% endif %}
	  </button>
	</div>
      </div>    
      <div class="accordion-collapse collapse"
	   id="preamble_accordioncontent-{{uid}}"
	   aria-labeledby="preamble_accordionheader-{{uid}}"
	   data-bs-parent="preamble_accordion-{{uid}}"
	   >
	{{preamble|safe}}
      </div>
    </div>
  </div>
</div>
{% elif preamble %}
<div class="container w-75">
  {{preamble|safe}}
</div>
{% endif %}


{% if buttons and top_buttons %}

<div class="btn-group" role="group" aria-label="actions">
  {% for button in buttons %}
  <button class="btn btn-{{button.style}}"
	  {% if button.hx_post %}hx-post="{{button.hx_post}}"{% endif %}
	  {% if button.hx_delete %}hx-delete="{{button.hx_delete}}"{% endif %}	    
	  {% if button.hx_confirm %}hx-confirm='{{button.hx_confirm}}'{% endif %}
	  {% if button.hx_target %}hx-target='{{button.hx_target}}'{% endif %}
	  {% if button.hx_select %}hx-select='{{button.hx_select}}'{% endif %}
	  {% if button.hx_swap %}hx-swap='{{button.hx_swap}}'{% endif %}
	  hx-vals='{"uid" : "{{uid}}"}'
	  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
	  >
    {{button.label}}
  </button>
  {% endfor %}
</div>
{% endif %}

{{content}}
{{form}}

{% if buttons and not top_buttons %}

<div class="btn-group" role="group" aria-label="actions">
  {% for button in buttons %}
  <button class="btn btn-{{button.style}}"
	  {% if button.hx_post %}hx-post="{{button.hx_post}}"{% endif %}
	  {% if button.hx_delete %}hx-delete="{{button.hx_delete}}"{% endif %}
	  {% if button.hx_confirm %}hx-confirm='{{button.hx_confirm}}'{% endif %}
	  {% if button.hx_target %}hx-target='{{button.hx_target}}'{% endif %}
	  {% if button.hx_select %}hx-select='{{button.hx_select}}'{% endif %}
	  {% if button.hx_swap %}hx-swap='{{button.hx_swap}}'{% endif %}
	  hx-vals='{"uid" : "{{uid}}"}'
	  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
	  >
    {{button.label}}
  </button>
  {% endfor %}
</div>
{% endif %}

{% if form or buttons %}
</form>
{% endif %}

{% if can_manage %}
<button type="button" class="btn btn-primary cdh-modal" data-bs-toggle="modal" data-bs-target="#permissions_modal-{{uid}}">
  Manage permissions
</button>
<div class="modal fade" id="permissions_modal-{{uid}}" tabindex="-1" role="dialog" aria-labelledby="permissions_modal_label-{{uid}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="permissions_modal_label-{{uid}}">{{object}} {{model_name}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'permissions' app_label model_name pk %}" id="permissions-form-{{uid}}"
	    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
	    >	      
	<div class="modal-body">
	  <div
	    hx-trigger="intersect"
	    hx-swap="outerHTML"
	    hx-select="#top_level_content > *"
	    hx-get="{% url 'permissions' app_label model_name pk %}"
	    >
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button
	    type="button"
	    class="btn btn-primary"
	    data-bs-dismiss="modal"
	    hx-post="{% url 'permissions' app_label model_name pk %}"
	    hx-swap="none"
	    hx-vals='{"uid" : "{{uid}}_{{index}}"}'
	    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
	    id="permissions-button-{{uid}}">
	    Save permissions	  
	  </button>
	</div>
      </form>      
    </div>
  </div>
</div>

{% endif %}

</div>

</div>

{% endblock %}
