{% extends "base.html" %}

{% block content %}

{% if form %}
<form method="post" action="{{request.path_info}}" id="form-{{uid}}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      {% if form.is_multipart %}
      hx-encoding="multipart/form-data"
      enctype="multipart/form-data"
      _="on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100"
      {% endif %}
      >
{% endif %}


{% if preamble and hide_preamble %}
<div class="container w-75">
  <div class="accordion" id="preamble_accordion-{{uid}}">
    <div class="accordion-item" id="preamble_accordionitem-{{uid}}" aria-labeledby="preamble_accordion-{{uid}}">
      <div class="accordion-header" id ="preamble_accordionheader-{{uid}}">
	<div class="d-grid gap-2">
	  <button id="preamble_button-{{uid}}"
		  class="accordion-button cdh-accordion-button collapsed"
		  type="button"
		  data-bs-toggle="collapse"
		  data-bs-target="#preamble_accordioncontent-{{uid}}"
		  aria-expanded="false"
		  aria-controls="preamble_accordioncontent-{{uid}}"
		  >
	    {% if preamble_title %}{{preamble_title}}{% else %}?{% endif %}
	  </button>
	</div>
      </div>    
      <div class="accordion-collapse collapse"
	   id="preamble_accordioncontent-{{uid}}"
	   aria-labeledby="preamble_accordionheader-{{uid}}"
	   data-bs-parent="preamble_accordion-{{uid}}"
	   >
	{{preamble|safe}}
      </div>
    </div>
  </div>
</div>
{% elif preamble %}
<div class="container w-75">
  {{preamble|safe}}
</div>
{% endif %}


{% if form and buttons and top_buttons %}

{% if form.is_multipart %}
<progress id='progress' value='0' max='100'></progress>
{% endif %}

<div class="btn-group" role="group" aria-label="actions">
  {% for button in buttons %}
  <button class="btn btn-{{button.style}}"
	  {% if button.hx_post %}hx-post="{{button.hx_post}}"{% endif %}
	  {% if button.hx_delete %}hx-delete="{{button.hx_delete}}"{% endif %}	    
	  {% if button.hx_confirm %}hx-confirm='{{button.hx_confirm}}'{% endif %}
	  {% if button.hx_target %}hx-target='{{button.hx_target}}'{% endif %}
	  {% if button.hx_select %}hx-select='{{button.hx_select}}'{% endif %}
	  {% if button.hx_swap %}hx-swap='{{button.hx_swap}}'{% endif %}
	  hx-vals='{"uid" : "{{uid}}"}'
	  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
	  >
    {{button.label}}
  </button>
  {% endfor %}
</div>
{% endif %}

{{content}}
{{form}}

{% if form %}
  
{% if user_permissions_options or group_permissions_options %}

{% comment %}
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#permissions-{{uid}}" aria-expanded="false" aria-controls="permissions-{{uid}}">
    Manage permissions
  </button>
</p>

<div class="collapse" id="permissions-{{uid}}">
  {% endcomment %}
  
  {% if user_permissions_options %}
  <h4>User permissions</h4>
  <div class="row">
    {% for perm in perms %}
    <div class="col w-25">
      <label for="{{perm}}_user_perm_select-{{uid}}">{{perm|title}}</label>
      <select class="form-select" multiple aria-label="{{perm}}_user_permissions" id="{{perm}}_user_perm_select-{{uid}}" name="user_{{perm}}">
	{% for u, p in user_permissions_options %}
	<option value="{{u.id}}" {% if perm in p %}selected{% endif %}>{{u}}</option>
	{% endfor %}
      </select>
    </div>
    {% endfor %}    
  </div>
  {% endif %}
  
  {% if group_permissions_options %}
  <h4>Group permissions</h4>
  <div class="row">
    {% for perm in perms %}
    <div class="col w-25">
      <label for="{{perm}}_group_perm_select-{{uid}}">{{perm|title}}</label>
      <select class="form-select" multiple aria-label="{{perm}}_group_permissions" id="{{perm}}_group_perm_select" name="group_{{perm}}">
	{% for g, p in group_permissions_options %}
	<option value="{{g.id}}" {% if perm in p %}selected{% endif %}>{{g}}</option>
	{% endfor %}
      </select>
    </div>
    {% endfor %}
  </div>
  {% endif %}

{% comment %}
</div>
{% endcomment %}

{% endif %}

{% endif %}

{% if form and buttons and not top_buttons %}

{% if form.is_multipart %}
<progress id='progress' value='0' max='100'></progress>
{% endif %}

<div class="btn-group" role="group" aria-label="actions">
  {% for button in buttons %}
  <button class="btn btn-{{button.style}}"
	  {% if button.hx_post %}hx-post="{{button.hx_post}}"{% endif %}
	  {% if button.hx_delete %}hx-delete="{{button.hx_delete}}"{% endif %}
	  {% if button.hx_confirm %}hx-confirm='{{button.hx_confirm}}'{% endif %}
	  {% if button.hx_target %}hx-target='{{button.hx_target}}'{% endif %}
	  {% if button.hx_select %}hx-select='{{button.hx_select}}'{% endif %}
	  {% if button.hx_swap %}hx-swap='{{button.hx_swap}}'{% endif %}
	  hx-vals='{"uid" : "{{uid}}"}'
	  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
	  >
    {{button.label}}
  </button>
  {% endfor %}
</div>
{% endif %}

{% if form %}
</form>
{% endif %}

</div>

{% endblock %}
