{% extends "base.html" %}

{% block content %}
<div class="card">
  <h5 class="card-title">{{slide.title}}</h5>
  <div class="row no-gutters">
	  
    <div class="col">
      {% if slide.image %}
      <img class="img-fluid h-100"
	   src="{{slide.image.url}}"
	   alt="{{slide.name}}"       
	   />
      {% endif %}
    </div>
    <div class="col">
      <div class="card-block px-2">
	<p class="card-text">{{slide.rendered_article|safe}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
