{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div id="slides" class="carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for slide in slides %}
      <button type="button" data-bs-target="#slides" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.counter == 1 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{forloop.counter}}"></button>
      {% endfor %}
    </div>  
    <div class="carousel-inner slide">
      {% for slide in slides %}
      <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
	{% if slide.image %}
	<img
	  class="d-block w-100 img-fluid"
	  src="/media/{{slide.image}}"
	  alt="{{slide.name}}"
	  />
	{% else %}
	<img
	  class="d-block w-100 img-fluid"
	  src="/static/bootstrap/site/content/docs/5.1/examples/features/unsplash-photo-{% cycle '2' '3' %}.jpg"
	  alt="{{slide.name}}"
	  />
	{% endif %}
	<div class="carousel-caption d-none d-md-block">
          <h5>{{slide.name}}</h5>
          <p>{{slide.slug}}</p>
	</div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slides" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slides" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% if page.content %}
<div id="description">
  {{ page.rendered_content | safe }}
</div>
{% endif %}

{% if page.additional_link_prompt %}
<a href="/">{{ page.additional_link_prompt }}</a>
{% endif %}

{% endblock %}      
