{% if preamble %}
<div class="container w-75">
  {{preamble|safe}}
</div>
{% endif %}

<div class="overflow-scroll vh-100" id="{{div_identifier}}"></div>

{{ vega_spec|json_script:spec_identifier }}

<script type="text/javascript">  
  var view;
  var spec = JSON.parse(document.getElementById("{{spec_identifier}}").textContent);
  render(spec);
  function render(spec) {
      view = new vega.View(vega.parse(spec), {
          renderer:  'canvas',  // renderer (canvas or svg)
          container: '#{{div_identifier}}',   // parent DOM container
          hover:     true       // enable hover processing
      });      
      view.resize();
      var el = document.getElementById("{{div_identifier}}");
      //view.width(el.offsetWidth);
      //view.height(el.offsetHeight);
      view.logLevel(vega.Warn);
      return view.runAsync();
      }
</script>
