{% extends "base.html" %}

{% block content %}
<div class="accordion" id="collections">
  {% for collection, labeled_collections, topic_models in collections %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{forloop.counter}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-{{forloop.counter}}">
	{{collection.name}}
      </button>
    </h2>
    <div id="collapse-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading-{{forloop.counter}}">
      <div class="card">
	<div class="card-body">
	  {% if labeled_collections|length == 0 %}
	  <h5 class="card-title">No topic models or lexicons have been applied to this collection.</h5>
	  {% else %}
	  <h5 class="card-title">Labelings of this collection</h5>
	  <div class="list-group">
	    {% for labeled_collection in labeled_collections %}
	    <div class="list-group-item">
	      <div class="card">
		<h6 class="card-title">Labeled by {{labeled_collection.model.name}}</h6>
		<a class="list-group-item-action" href="{% url 'topic_modeling:labeled_collection_detail' labeled_collection.id %}" >
		  Documents
		</a>
		{% if labeled_collection.collection.has_spatiality %}
		<a class="list-group-item-action" href="{% url 'topic_modeling:spatial_distribution' labeled_collection.id %}" >
		  Topics over space
		</a>
		{% endif %}
		{% if labeled_collection.collection.has_temporality %}
		<a class="list-group-item-action" href="{% url 'topic_modeling:temporal_evolution' labeled_collection.id %}" >
		  Topics over time
		</a>
		{% endif %}
	      </div>
	    </div>
	    {% endfor %}
	  </div>
	  {% endif %}
	</div>
      </div>     
      <div class="card">
	<div class="card-body">
	  {% if labeled_collections|length == 0 %}
	  <h5 class="card-title">No topic models have been trained on this collection.</h5>
	  {% else %}
	  <h5 class="card-title">Topic models trained on this collection</h5>
	  <div class="list-group">
	    {% for topic_model in topic_models %}
	    <a class="list-group-item list-group-item-action" href="{% url 'topic_modeling:topic_model_detail' topic_model.id %}" >
	      {{topic_model.name}}
	    </a>
	    {% endfor %}
	  </div>
	  {% endif %}
	</div>
      </div>     
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
