{% extends "base.html" %}

{% block content %}

<div class="container">
  <p>
  <a href="https://jmlr.csail.mit.edu/papers/volume3/blei03a/blei03a.pdf">Topic modeling</a> is an unsupervised machine learning method that learns coherent patterns of word use from how they co-occur within documents.  This is called <emph>distributional semantics</emph>, the idea that things occurring in similar contexts tend to me similar to one another.

  If you log into the site, and browse to "Interaction > Manage", you can upload documents, train topic models, and apply them to other documents.  Below, you can inspect the results of topic modeling, both from the model and document perspectives.
  </p>
  Models:
  <div class="list-group">
    {% for topic_model in topic_models %}
    <a class="list-group-item list-group-item-action" href="{% url 'topic_modeling:topic_model_detail' topic_model.id %}">'{{topic_model.name}}', trained on '{{topic_model.collection.name}}'</a>
    {% endfor %}
  </div>
</div>

{% endblock %}
