{% extends "base.html" %}

{% block content %}

<div class="container">
  <p>
    <a href="https://jmlr.csail.mit.edu/papers/volume3/blei03a/blei03a.pdf">Topic modeling</a> is an unsupervised machine learning method that learns coherent patterns of word use from how they co-occur within documents.  This is called <emph>distributional semantics</emph>, the idea that things occurring in similar contexts tend to me similar to one another.
  </p>

  <p>
    The <i>unsupervised</i> aspect of topic models is in contrast to methods that rely on experts in the source material to directly assemble lexicons, a painstaking and potentially biased process.  However, such human knowledge is the gold standard foundation of focused analysis, and can still take advantage of the straightforward ability of computers to apply such lexicons to large-scale sources.  Note that topic models and lexicons do not depend on one another: they are independent approaches to engaging with large document collections.
  </p>

  <div hx-get="/topic_modeling/collection/32/" hx-trigger="load" hx-select="#top_level_content"></div>

  
  {{formset}}

  {% comment %}
  {% include "cdh/snippets/accordion.html" with accordion_id="categories" %}
  {% endcomment %}
</div>

{% endblock %}
