{% extends "base.html" %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <div class="container">
      <p>
	{% for section in page_obj %}
	{% for w, t in section.content %}
	{% if t == -1 %}
	<span class="">{{w}}</span>
	{% else %}
	<span class="labeled-token topic-{{t}}">{{w}}</span>
	{% endif %}
	{% endfor %}
	{% endfor %}
      </p>
    </div>
  </div>
</div>

<div class="">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
