{% extends "base.html" %}

{% block content %}
<div class="accordion" id="collections">
  {% for lexicon, labeled_collections in lexicons %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{forloop.counter}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-{{forloop.counter}}">
	{{lexicon.name}}
      </button>
    </h2>
    <div id="collapse-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading-{{forloop.counter}}">
      <div class="card">
	<div class="card-body">
	  {% if labeled_collections|length == 0 %}
	  <h5 class="card-title">This lexicon has not been applied to any collections.</h5>
	  {% else %}
	  <h5 class="card-title">Collections labeled by this lexicon</h5>
	  <div class="list-group">
	    {% for labeled_collection in labeled_collections %}
	    <a class="list-group-item list-group-item-action" href="{% url 'topic_modeling:labeled_collection_detail' labeled_collection.id %}" >
	      {{labeled_collection.name}}
	    </a>
	    {% endfor %}
	  </div>
	  {% endif %}
	</div>
      </div>     
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
